<launch>
  <!-- IP-Address of Safety laser scanner -->
  <arg name="sensor_ip" default="192.168.0.10" />

  <!-- How many subscribers are connected to the master scanner, 0 .. 3 are supported. -->
  <arg name="nr_subscribers" default="1" />

  <!-- Name of the scanner (required to run multiple scanners) -->
  <arg name="tf_prefix" default="laser_1" />
  <arg name="tf_prefix_sub0" default="laser_2" />
  <arg name="tf_prefix_sub1" default="laser_1_subscriber1" />
  <arg name="tf_prefix_sub2" default="laser_1_subscriber2" />

  <!-- Start angle of measurement in radian -->
  <arg name="angle_start" default="$(eval 'radians(-137.4)')"  />

  <!-- End angle of measurement in radian -->
  <arg name="angle_end" default="$(eval 'radians(137.4)')"  />

  <!-- Publishing of intensities -->
  <arg name="intensities" default="false" />

  <!-- Scan resolution in radian -->
  <arg name="resolution" default="$(eval 'radians(0.5)')" />

  <!-- IP-Address of host machine -->
  <arg name="host_ip" default="auto" />

  <!-- UDP Port on which monitoring frames (scans) should be received -->
  <arg name="host_udp_port_data" default="6060" />

  <!-- UDP Port used to send commands (start/stop) and receive the corresponding replies -->
  <arg name="host_udp_port_control" default="3000" />

  <!-- Set the following to true in order to publish scan data as soon as a UDP packet is ready, instead of waiting for a full scan -->
  <arg name="fragmented_scans" default="false" />

  <!-- Start rviz -->
  <arg name="rviz" default="false" />

  <!-- Start scanner driver -->
  <include file="$(find-pkg-share psen_scan_v2)/launch/bringup.launch.xml">
    <arg name="sensor_ip" value="$(var sensor_ip)" />
    <arg name="tf_prefix" value="$(var tf_prefix)" />
    <arg name="angle_start" value="$(var angle_start)" />
    <arg name="angle_end" value="$(var angle_end)" />
    <arg name="intensities" value="$(var intensities)" />
    <arg name="resolution" value="$(var resolution)" />
    <arg name="host_ip" value="$(var host_ip)" />
    <arg name="host_udp_port_data" value="$(var host_udp_port_data)" />
    <arg name="host_udp_port_control" value="$(var host_udp_port_control)" />
    <arg name="fragmented_scans" value="$(var fragmented_scans)" />
    <arg name="nr_subscribers" value="$(var nr_subscribers)" />
  </include>

</launch>
